In [1]:
import numpy as np
import pandas as pd

## creating a series

In [32]:
labels=['a','b','c']

In [33]:
my_list=[10,20,30]

In [43]:
arr=np.array([10,20,30])

In [35]:
d={'a':10,'b':20,'c':30}
a=pd.Series(d)

In [36]:
a['a']

10

In [37]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [38]:
pd.Series(index=labels,data=my_list)#keyword arguments

a    10
b    20
c    30
dtype: int64

In [41]:
pd.Series(labels,my_list)

10    a
20    b
30    c
dtype: object

In [47]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [48]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [50]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [52]:
pd.Series([sum,print,max])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function max>
dtype: object

In [53]:
ser1=pd.Series([1,2,3],index=['siri','vamshi','ahan'])

In [54]:
ser1

siri      1
vamshi    2
ahan      3
dtype: int64

In [55]:
ser2=pd.Series([1,2,4],index=['siri','vamshi','sindhu'])

In [56]:
ser2

siri      1
vamshi    2
sindhu    4
dtype: int64

In [57]:
ser1+ser2

ahan      NaN
sindhu    NaN
siri      2.0
vamshi    4.0
dtype: float64